/* .headerContain{
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.Brass{
    color: white;
    font-weight: 100px;
    font-style: italic;

}
.Logo{
    color: white;
    display: flex;
    justify-content: space-around;   
} */